@font-face {
  font-family: "Baloo";
  src: url("https://cdn.glitch.com/322f4f0f-f89c-4d28-8488-aae36236bc9b%2FBalooDa2-Regular.ttf?v=1586277681606");
}
body {
  font-family: Baloo;
  margin: 0;
  background-color: white;
}
canvas {
  display: block;
}
#mainMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  left: 42%;
  right: 42%;
  top: 40%;
  bottom: 35%;
}
#gameName {
  padding: 0px;
  width: 200px;
  text-align: center;
}
#ha {
  padding: 5px;
  width: 400px;
  height:30px;
}
#profile {
  display: none;
  flex-direction: column-reverse;
  position: absolute;
  left: 2%;
  bottom: 2%;
  background-color: white;
  border: 3px solid black;
  height: 100px;
}
#name {
  position: absolute;
  font-size: 16px;
  left: 2%;
  bottom: 50%;
}
#escapeMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  background: white;
  padding: 10px;
  position: absolute;
  right: 45%;
  left: 45%;
  top: 40%;
  bottom: 30%;
}
.bar {
  width: 200px;
  height: 20px;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
}
#health {
  border-left: 3px black solid;
  background: linear-gradient(to right, #0f0 100%, #f00 100%);
}
#armor {
  border-right: 3px black solid;
  background: linear-gradient(to right, gray 100%, #ff0 100%);
}
.button {
  width: 120px;
  border: 1px solid black;
  background-color: gray;
  animation: colorsReverse 0.5s;
  animation-fill-mode: forwards;
  padding: 5px;
  cursor:pointer;
  text-align: center;
}
.disabled {
  opacity: 0.7;
  animation:none;
  cursor:not-allowed;
}
.button:hover {
  animation: colors 0.5s;
  animation-fill-mode: forwards;
}
.disabled:hover{
  animation:none;
}
@keyframes colors {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes colorsReverse {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
