body {
  margin: 0;
  background-color: white;
}
canvas {
  display: block;
}
#mainMenu {
  display: flex;
  flex-direction: column;
}
#playGame {
  border: 1px solid black;
  background-color: gray;
  animation: colorsReverse 1s;
  animation-fill-mode: forwards;
}
#playGame:hover {
  animation: colors 1s;
  animation-fill-mode: forwards;
}
@keyframes colors {
  from {
    color: inherit;
  }
  to {
    color: rgba(10, 10, 10, 0.2);
  }
}
@keyframes colorsReverse {
  from {
    color: rgba(10, 10, 10, 0.2);
  }
  to {
    color: inherit;
  }
}
